#header, .menu, #sub, #randomAlbum{
    display: flex;
    flex-direction: row;    
}

.albumData{
    display: flex;
    flex-direction: column;
}

#main{
    margin: auto;
    width: 100%;
}

.hide{
    display: none;
}

#search{
    width: 50%;
}

.mainContent{
    text-align: center;
    margin: auto;
    display: block;
}

.albumCover{
    width: 50px;
    height: 50px;
}

#form{
    display: flex;
    flex-direction: column;
}

.top10{
    align-self: flex-end;
}