.menu, #randomAlbum, .albumTop10{
    display: flex;
    flex-direction: row;   
}

#sub{
    position: absolute;
    left: 45%;
}

#numberOfAlbumsContainer{
    align-content: center;
    text-align: center;
}

#header{
    display: flex;
    flex-direction: row;
}
.albumData{
    display: flex;
    flex-direction: column;
}

#main{
    margin: auto;
    width: 50%;
}

.hide{
    display: none;
}

#search{
    width: 75%;
}

#randomAlbumContainer{
padding-left: 5%;
display: flex;
flex-direction: column;
}

.mainContent{
    text-align: center;
    margin: auto;
    display: block;
}

.albumCover{
    width: 70px;
    height: 70px;
}

#form{
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
}

#top10{
    position: absolute;
    right: 0;
}